In [2]:
l = [1, 2, 3, 4]
s = ["s", "d", "w"]
output_dict = {key: l for key in s}

print(output_dict)

{'s': [1, 2, 3, 4], 'd': [1, 2, 3, 4], 'w': [1, 2, 3, 4]}

In [19]:

n = 7
d= 8
num_series = [n + i * d for i in range(20)]
series = [num for num in num_series if num not in (11, 12, 13)]
print(series)

[7, 15, 23, 31, 39, 47, 55, 63, 71, 79, 87, 95, 103, 111, 119, 127, 135, 143, 151, 159]

### Prime number

In [4]:
n=int(input("Enter:"))
for number in range (1, n+ 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### Len of the list without build in function

In [6]:
List2 = [3,6,9,1,5,7] 
counter = 0
for i in List2 :
    counter = counter + 1
print("Length of list  : " ,counter)

Length of list  :  6

### List1=[22,45,”python”,21,”sample”] . 
Add 20 in the above list and sum all the integers in the list without using the sum function.

In [18]:
list1=[22,45, "python" , 21,"sample"]
list1.append(20)
print(list1)
total = 0 
for i in range(0, len(list1)): 
  if type(list1[i])==int:
   total = total + list1[i] 
 
print("Sum of all elements in a given list: ", total)

[22, 45, 'python', 21, 'sample', 20]
Sum of all elements in a given list:  108

In [35]:
strings=input("enter:")
count=0
count1=0
for i in strings:
    if i.isdigit():
        count=count+1       
    else:
        count1=count1+1
        
print("Number:",count)
print("String:",count1)

Number: 2
String: 5

In [1]:
a=[10,12,13,"A","B","C"]
a.append(20)
total=0
s=''
lst=[]
for i in a:
    if type(i)==int:
        total=total+i
    elif type(i)==str:
        s+=i
   
lst.append(total)
lst.append(s)
print(lst)

[55, 'ABC']

In [33]:
n=[12,75,150,180,145,525,50]
lst=[]
for i in n:
    if (i>500):
        break
    elif (i%5==0):
        if(i<=150):
            lst.append(i)
print(lst)

[75, 150, 145]

In [44]:


n= [12,75,150,145,525,50]
index = len(n) - 1
rev = [n[i] for i in range(index, -1, -1)]
print(rev)

[50, 525, 145, 150, 75, 12]

In [46]:
str="amma"
str[::-1]

'amma'

In [41]:
password=input("Enter:")
upper=0
lower=0
num=0
spl=0
l=[]
if (len(password)==10):
    for i in password:
        if i.isupper():
           upper+=1
        if i.islower():
           lower+=1
        if i.isdigit():
           num+=1
        if i in ['@','*','%','$']:
           spl+=1
    if upper==0:
       l.append("need capital")
    if lower==0:
        l.append("Need lower")
    if  num==0:
       l.append("Need Number")
    if spl==0:
       l.append("Need Special Character")
    else:
       l.append("Valid Password")        
else:
    l.append("Enter Only 10 Character")


for i in l:
   print(i)

need capital
Need Special Character

In [2]:
lst1= [1,2,3,4,5]

In [3]:
lst1[0]

1

In [4]:
lst1[-3]

3

In [5]:
for i in lst1:
    print(i)

1
2
3
4
5

In [6]:
lst1[3]=7
print(lst1)

[1, 2, 3, 7, 5]

In [83]:
lst1.insert(3,4)
print(lst1)

[1, 2, 3, 4, 7, 5, [2, 3, 4], [2, 3, 4]]

In [7]:
lst2=[2,3,4]
lst1.append(lst2)
print(lst1)

[1, 2, 3, 7, 5, [2, 3, 4]]

In [8]:
tup=(2,35,5)
lst1.append(tup)
print(lst1)

[1, 2, 3, 7, 5, [2, 3, 4], (2, 35, 5)]

In [10]:
lst1.pop()

(2, 35, 5)

In [11]:
print(lst1)

[1, 2, 3, 7, 5, [2, 3, 4]]

In [19]:
lst1.reverse()

In [17]:
print(lst1)

[1, 2, 3, 7, 5, [2, 3, 4]]

In [20]:
lst2=[]
for i in lst1:
    lst2.append(i)
print(lst2)

[[2, 3, 4], 5, 7, 3, 2, 1]

In [21]:
rev=[]
for i in lst1:
    rev=[i]+rev
print(rev)

[1, 2, 3, 7, 5, [2, 3, 4]]

In [33]:
stri=["python","Java","angular"]
for i in stri:
    print(i.upper())

PYTHON
JAVA
ANGULAR

In [35]:
stri=["python","Java","angular"]
for i in stri:
    print(i.title())

Python
Java
Angular

In [42]:
tup1=((1,2,3),(4,5,6),(7,8,9))

In [45]:
t1=(1,2,3)
t2=(4,5,6)
t3=(7,8,9)
res=(t1,t2,t3)
print(res)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [46]:
res[0]

(1, 2, 3)

In [52]:
print(res[1][1])

5

In [53]:
lsttup=list(res)
tp4=(10,11,12)
lsttup.insert(1,tp4)
res1=tuple(lsttup)
print(res1)

((1, 2, 3), (10, 11, 12), (4, 5, 6), (7, 8, 9))

In [57]:
tp5=(1,)
print(type(tp5))

<class 'tuple'>

In [68]:
dic={'apple':5,'orange':6,'mango':8}
dic.values()

dict_values([5, 6, 8])

In [69]:
dic.keys()

dict_keys(['apple', 'orange', 'mango'])

In [72]:
print(dic['orange'])

6

In [86]:
names=['a','b','c']
cities=["Chennai","Bangolre","Karnataka"]
dic1={}
for i in range(0,len(names)):
    dic1[names[i]]=cities[i]
print(dic1)

{'a': 'Chennai', 'b': 'Bangolre', 'c': 'Karnataka'}

In [90]:
dict(zip(names,cities))

{'a': 'Chennai', 'b': 'Bangolre', 'c': 'Karnataka'}

In [95]:
res2={}
for i,j in zip(names,cities):
    res2.update({i:j})
print(res2)

{'a': 'Chennai', 'b': 'Bangolre', 'c': 'Karnataka'}

In [113]:
set1={'A','B',True,12,100}
set2={'C',False,12,'B',150}
resa=set1|set2
print(resa)

{False, True, 100, 'C', 12, 'B', 150, 'A'}

In [114]:
resb=set1-set2
print(resb)

{True, 'A', 100}

In [115]:
resc=set1^set2
print(resc)

{False, True, 'A', 100, 150, 'C'}

In [116]:
resd=set1 & set2
print(resd)

{12, 'B'}

In [119]:
ans=frozenset({1,3,4,5})
print(type(ans))

<class 'frozenset'>

In [121]:
ans2=frozenset({2,5,7,8})
res4=ans|ans2
print(res4)

frozenset({1, 2, 3, 4, 5, 7, 8})

In [122]:
res5=ans&ans2
print(res5)

frozenset({5})

In [123]:
tl1=['Thanks',50]
set2.update(tl1)
print(set2)

{False, 50, 'Thanks', 150, 'C', 12, 'B'}

In [124]:
set2.remove(False)

In [125]:
print(set2)

{50, 'Thanks', 150, 'C', 12, 'B'}

In [127]:
set2.remove(False)

KeyError: False

In [128]:
set2.discard(False)

In [129]:
ans2.remove(2)

AttributeError: 'frozenset' object has no attribute 'remove'