### 1) List the last 3 character for odd index and first 3 character for even index
	list=["apple","ORANGE","mango"]
	output = ["ple", "ORA", "ngo"]

In [32]:
import string
lst=["apple","ORANGE","mango"]
a=lst[0]
b=lst[1]
c=lst[2]
lst1=(a[2:5],b[0:3],c[2:5])
lst2=list(lst1)
print(lst2)

['ple', 'ORA', 'ngo']

### 2) List2 = [3,6,9,1,5,7] .Find the length of the list without using any built in functions.

In [ ]:
lst=[3,6,9,1,5,7]

### 
3) Python Program as a function  to find Leap year.
	eg. input = 2023 >>> eg. output = it is not a leap year
	eg. input = 2024 >>> eg. output = it is a leap year

In [37]:
import calendar

In [4]:
def leap(a):
    if isleap(a):
        print("Its Leap year")
    else:
        print("Its not a Leap year")
leap(2024)

NameError: name 'isleap' is not defined

### 4) List1=[22,45,”python”,21,”sample”] . 
Add 20 to the integers of above list and sum all the integers in the list without using the sum function.

In [51]:
lst1=[22,45, 'python' , 21,'sample'] 
lst1.append(20)
print(lst1)
a=lst1[0]
b=lst1[1]
c=lst1[3]
d=lst1[5]
sum=a+b+c+d
print(sum)

[22, 45, 'python', 21, 'sample', 20]
108

### 5)Given a number write a Program to print a multiplication table.

In [11]:
n=int(input("Enter:"))
for i in range(1,11):
    m=n*i
    print(m)

7
14
21
28
35
42
49
56
63
70

### 6)Python program to concatenate all Elements of a List into a String Using list comprehension
	Input=["All","the","best"]
	output= All the best.

In [14]:
lst=["all","the","best"]

opt=lst[0]+" "+lst[1]+" "+lst[2]
print(opt)

all the best

### 7) Find the given output, from the following dictionaries - combine the list and sort the values
     set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 } 
     set2 = {'David' : 16, 'Eshwar' : 08, 'Frank' : 18} 
     output = [08,10,12,16,18,20]

In [24]:
set1={'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 } 
set2={'David' : 16, 'Eshwar' : 8, 'Frank' : 18} 
key1=set1.values()
print(key1)
key2=set2.values()
print(key2)

dict_values([12, 20, 10])
dict_values([16, 8, 18])

### 8) Write a Python program to reverse a string without using reverse function.

In [50]:
import string 
a="APPLE"
a1=a[4]
a2=a[3]
a3=a[2]
a4=a[1]
a5=a[0]
ans=a1+a2+a3+a4+a5
print(ans)

ELPPA

### 9) List down the difference between set and tuple with a example

### set - unordered,unchange,Allows duplicate -{}
### tuple - Ordered,Unchange,allows duplicate -()

### 10) Write a Python program to write a text file and read that file.

In [1]:
with open ('Sample.txt','w') as f:
 f.write("Hello")

### 11) Write a String Formatting program - change lower case to upper case
	list=["apple","ORANGE","mango"]
	OUTPUT= result 1 is APPLE
		result 2 is orange
		result 3 is Mango

Result 1 is  APPLE
Result 2 is  orange
Result 3 is  Mango

### 12) Give a brief for Decorators with examples.

### Decorators are the function which call the another function before excute the called function.